*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input:focus{
    outline: none;
}
textarea:focus{
    outline: none;
}
.container{
    width:100%;
    height:100vh;
    padding: 10px;
    
    background:linear-gradient(135deg,#3c90c8,#361d3c);
}
.todo-app{
    width: 30%;
    max-width: 400px;
    height: 100vh;
    background: #f2f2f2;
    padding: 40px 30px 70px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.todo-app h2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #153677;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 2.2rem;
}
.todo-app img{
    width: 30px;
    /* margin-bottom : 10px; */
}
.row{
display: flex;
align-items: center;
justify-content: space-between;
background: #edeef0;
border-radius: 20px;
margin:30px 10px;
}
.add-project-aside input{
    flex:1;
    border: solid 1px;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
.add-project-aside input:focus{
    border: solid 1px #ff5945; 
}
.add-project-aside button{
    border: none;
    outline: none;
    padding: 10px 30px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.add-project-aside ul li{
    list-style: none;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    padding: 12px 8px 12px 5px;
    position: relative;
    left: 43px;
}
.add-project-aside ul li::before{
    content:' ';
    position:absolute;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background-image: url("./images/list-circle.svg");
    top: 10px;
    left:-50px;
    background-size:cover;
    background-position: center;
}
.add-project-aside ul li.checked{
    color: #ff5945; 
}
.add-project-aside ul li.checked::before{
    background-image: url("./images/checked.png");
}
.add-project-aside ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 50px;
    height: 50px;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #ff5945;
    right: 100px;
}

/* second */
aside{
    width: 70%;
    position: absolute;
    right: 0px;
    top: 60px;
  }
.taskList   ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .taskInputContainer ,.show-task-list-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background:white;
      width: 400px;
      box-shadow: rgba(144, 30, 30, 0.25) 0px 54px 55px, rgba(189, 29, 29, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .taskInputContainer h3{
    background-color: #ff5945;
    font-size: 25px;
    padding:1.5rem 0.5rem;
    width: 400px;
    color: #fff;
  }
  .taskInputContainer button{
      width: 120px;
      height: 40px;
      font-size: 16px;
      margin: 5px;
      background: #ff5945;
      color: #fff;
      font-size: 20px;
      border: none;
      outline: none;
      cursor: pointer;
  }

.taskInputContainer input,.show-task-list-container input {
    font-size: 15px;;
    padding: 1rem;
    width: 300px;
    height: 30px;
    margin: 2rem 1rem;
    border-top: solid 0px;
    border-left: solid 0px;
    border-right: solid 0px;
    border-bottom: #ff5945 solid 2px;
}
.show-task-list-container input{
    margin: .5rem;
}
.taskInputContainer textarea, .show-task-list-container textarea {
    width: 300px;
    height: 100px;
    border-bottom: #ff5945 solid 2px;
    padding:1rem;
    margin: 1rem;
    border-top: solid 0px;
    border-left: solid 0px;
    border-right: solid 0px;
}


.show-task-list-container button{
     width: 120px;
      height: 40px;
      font-size: 16px;
      margin: 5px;
      background: #ff5945;
      color: #fff;
      font-size: 20px;
      border: none;
      outline: none;
      cursor: pointer;
 }

.show_section p{
  width: 30%;
  font-size: 20px;
}
.show-task-list-container{
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-top: 3rem;
  margin-right: 1rem;
  margin-left: 1rem;
  align-items: center;
  border-radius: 5px;
  background-color: #fff;
  padding: 2rem 1rem;
  min-height: 300px;
  justify-content: space-between;
}

.show-task-list-container h2{
    color: #153677;
}

.addProject{
  display: flex;
  flex-direction: row;
  font-size: 28px;
  cursor: pointer;  
  background: #ccc;
  height: 50px;
  justify-content: center;
  line-height: 40px;
  margin: 0px 4rem;
  box-shadow: rgba(144, 30, 30, 0.25) 0px 54px 55px, rgba(189, 29, 29, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.addProject:hover,.show-task-list-container:hover{
  box-shadow: rgba(1, 1, 1, 0.25) 0px 54px 55px, rgba(6, 5, 5, 0.12) 0px -12px 30px, rgba(17, 13, 13, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.addProject span{
    margin-top: 6px;
    font-size: 30px;
    font-weight: 900;
}

.addProject img {
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-right: 20px;
  margin-top: 5px;
}

.show_section{
    padding: 0.5rem  0.5rem;
}

.Task-Heading{
    color:#ccc;
    font-size: 2rem;
font-weight: bolder;
position: relative;
left: 40%;
padding: 10px 0px;
}